* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html, body{
    background-color: #252530;
    height: 100%;
    width: 100%;
    /* background-image: url("bckg3.jpg"); */
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.padding{
    padding: 1rem;
}

#home{
    background: url("bckg3.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover;
    margin-top: 0;
}
h1,h2,h3,h4,h5,h6{
    overflow: hidden;
}
#header_nav{
    background-color: #101019;
    /* background-color: #202020; */
    color: white;
    border-radius: 0px;
    border-bottom: #404040 3px solid;
    margin: 0;
    padding: 0.5em;
}

#name{
    color: white;
    font-family: "Proza Libre", "Gentium Basic", Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}

.sticky-top{
    position: sticky;
    top: 0;
    width: 100%;
}
.nav-link{ 
    text-decoration: none;
    color: grey;
    font-size: 18px;
    font-weight: 200;
}
#nav-list{
    list-style-type: none;
}
.navbar-nav .nav-item a:active, .nav-item a:hover{
    color: lightgrey;
}
.navbar-toggler:hover{
    background-color: #252530;
}
.navbar-brand{
    min-height: 55px;
    padding: 0.5em;
}
#name, #profile{
    overflow-y: hidden;
}
a:hover{
    text-decoration: none;
}

.landing-text{
    font-family: "Courier New", 'Segoe UI', Tahoma, Geneva, Verdana;
    /* text-transform: uppercase; */
    color: white;
    display: table-cell;
    text-align: justify;
    padding: 10%;
    padding-top: 15%;
    margin-top: 15px;
    padding-bottom: 20%;
}
.landing-text h2{
    font-size: 30px;
}
.landing-text h5{
    font-size: 24px;
}
.continue button{
    color: white;
}
.dp{
    border-radius: 50%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-bottom: 2em;
    padding-top: 3.5em;
}
#profile{
    color: white;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    display: block;
    text-align: center;
    font-size: 250%;
}
.about{
    align-content: center;
}

#about-me{
    color: #a0a0b0;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    padding-top: 10%;
    padding-left: 5%;
    font-size: 250%;
}

#profile-text, #profile-text a{
    font-family: "Proza","Gentium Basic",Verdana, Geneva, Tahoma, sans-serif;
    color: #a0a0b0;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}
#profile-text a:hover{
    color: lightgrey;
}

#about-text{
    font-family: "Proza","Gentium Basic",Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
#about-text a{
    color: white;
}
#about-text a:hover{
    color: #a0a0b0;
}

#fixed{
    background: url(bckg4.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: static;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#education{
    color: white;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    display: block;
    text-align: center;
    padding-bottom: 0;
    padding-top: 20px;
    font-size: 350%;
}
.dark-back{
    background-color: #1f1f29;
    background-size: cover;
    width: 100%;
}
#deg{
    color: #a0a0b0;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 0;
    text-align: left;
}
#org{
    color: #a0a0b0;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    padding-left: 5%;
    text-align: left;
}
#descr{
    font-family: "Proza","Gentium Basic",Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: left;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
}
.course-list{
    display: list-item;
    margin-left: 0.5em;
}
.course-list li{
    list-style: none;
    margin-left: 1em;
    display: inline;
}

.course-list li::before{
    content: "\2022";
    color: white;
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
#org a{
    color: #a0a0b0;
}
#org a:hover{
    color: grey;
}
.skills-back{
    margin-bottom: 1em;
}
#skills{
    color: #a0a0b0;
    font-family: "Cormorant Garamond","Eczar",'Courier New', Courier, monospace;
    font-weight: 200;
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 350%;
}
.skill-text{
    font-family: "Proza","Gentium Basic",Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
}
.white-link{
    color: white;
}
.white-link:hover{
    color: #a0a0b0;
}
.proj-list li:nth-child(even){
    color: darkgrey;
}
.network-icon{
    justify-content:center;
    content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.network-icon li{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.network-icon a{
    font-size: 3.5em;
    color: white;
    padding: 1em;
    padding-top: 1em;
}
.network-icon li:hover{
    transform:scale(1.2)
}
@media (max-width: 991px) {
    .network-icon a{
        font-size: 3em;
        color: white;
        padding: 0.75em;
    }
    #landing{
        background-attachment: scroll;
    }
}
@media (max-width: 767px) {
    .network-icon a{
        padding: 0.5em;
    }
    #landing{
        background-attachment: scroll;
    }
}
@media (max-width: 415px) {
    .network-icon a{
        font-size: 2.5em;
        color: white;
        padding: 0.4em;
    }
    #name{
        color: white;
        font-family: "Proza Libre", "Gentium Basic", Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        font-size: 24px;
        text-shadow: 1px 1px 1px grey;
    }
    .navbar-toggler{
        font-size: small;
    }
    #fixed{
        background: url(bckg4.jpg) no-repeat center center fixed;
        display: table;
        height: 40%;
        position: static;
        width: 100%;
        overflow: hidden;
        background-attachment: scroll;
        background-size: cover;
    }
    .proj-list h3, .proj-list h4{
        font-size: 90%;
    }
    #skills, #education{
        font-size: 250%;
    }
    #profile, #about-me{
        font-size: 200%;
    }
    #deg, #org{
        font-size: 150%;
    }
    #descr{
        font-size: 120%;
    }
    #profile-text, #profile-text a{
        font-size: 20px;
    }
    .proj-list{
        font-size: 20px;
    }
    .proj-list h3{
        font-size: 24px;
    }
    .proj-list h5{
        font-size: 22px;
    }
    
    .dp{
        max-width: 180px;
    }
    .landing-text{
        font-family: "Courier New", 'Segoe UI', Tahoma, Geneva, Verdana;
        /* text-transform: uppercase; */
        color: white;
        font-size: 20px;
        display: table-cell;
        text-align: justify;
        padding-left: 15%;
        padding-top: 15%;
        margin-top: 30%;
        padding-bottom: 20%;
    }
    .landing-text h2{
        font-size: 120%;
        overflow: hidden;
    }
    .landing-text h5{
        font-size: 100%;
        overflow: hidden;
    }
}
@media (max-width: 320px) {
    .landing-text h2{
        font-size: 120%;
    }
    .landing-text h5{
        font-size: 100%;
    }
    .landing-text .btn{
        font-size: 12px;
    }.network-icon a{
        font-size: 2.5em;
        color: white;
        padding: 0.4em;
    }
    #name{
        color: white;
        font-family: "Proza Libre", "Gentium Basic", Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        font-size: 24px;
        text-shadow: 1px 1px 1px grey;
    }
    .navbar-toggler{
        font-size: small;
    }
    #fixed{
        background: url(bckg4.jpg) no-repeat center center fixed;
        display: table;
        height: 40%;
        position: static;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-attachment: scroll;

    }
    .proj-list h3, .proj-list h4{
        font-size: 90%;
    }
    #skills, #education{
        font-size: 250%;
    }
    #profile, #about-me{
        font-size: 200%;
    }
    #deg, #org{
        font-size: 150%;
    }
    #descr{
        font-size: 120%;
    }
    #profile-text, #profile-text a{
        font-size: 125%;
    }
    .proj-list{
        font-size: 20px;
    }
    .proj-list h3{
        font-size: 24px;
    }
    .proj-list h5{
        font-size: 22px;
    }
}